{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ article.title }}{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/articles.css' %}" rel="stylesheet">
    <script src="{% static 'js/articles.js' %}"></script>
{% endblock stylesheet %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
        <li class="active">{{ article.title }}</li>
    </ol>
    {% include 'articles/partial_article.html' with article=article %}
    {% include 'articles/partial_article_comments.html' with article=article %}
{% endblock %}
