{% extends 'dashboard/base.html' %}
{% load static widget_tweaks i18n %}
{% block header %}
    <ol class="breadcrumb">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="{% url 'core_question_list' %}">{% trans 'Questions' %}</a>
        </li>
        <li class="active">
            <a href="#">TFQ</a>
        </li>
    </ol>
    <div class="page-header">
        <a href="{% url 'core_question_list' %}" class="btn btn-lg pull-right" title="{% trans 'Question List' %}">
            <i class="glyphicon glyphicon-question-sign"></i>
        </a>
        <h3>{% trans 'Add True/False Question' %}</h3>
    </div>
{% endblock %}
{% block content %}
    <form action="" method="post">{% csrf_token %}
        {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <input class="btn btn-success btn-block" type="submit" value="Save"/>
    </form>
{% endblock %}
