{% load staticfiles %}

<a href="{% url 'profile' friend.username %}">
    <div class="card card-user">
        <div class="image">
            <img src="{% static 'assets/img/rock.jpg' %}" alt="#"/>
        </div>
        <div class="content">
            <div class="author">
                <a href="#">
                    <img class="avatar border-white" src="{{ friend.profile.get_picture }}"
                         alt="..."/>
                    <h4 class="title">{{ friend.profile.get_screen_name }}</h4>
                </a>
            </div>
            {% if friend.profile.bio %}
                <p class="description text-center">
                    {{ friend.profile.bio }}
                </p>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            {% if button == 'unfollow' %}
                <a href="{% url 'unfollow' friend.id %}">
                    <button type="button" class="btn btn-danger btn-fill">Unfollow</button>
                </a>
            {% else %}
                <a href="{% url 'follow' friend.id %}">
                    <button type="button" class="btn btn-success btn-fill">Follow</button>
                </a>
            {% endif %}
        </div>
    </div>
</a>
